---
import Form from "./Form.astro"
---

<section id="contact">
    <div class="container">
        <div class="contact-container">
            <div class="info-container">
                <h2 class="pre-fade-in" id="contact-heading">Du hast Fragen?</h2>
                <p class="pre-fade-in" id="contact-paragraph">Zögere nicht und stelle uns deine Fragen über das Kontaktformular.
                    Wir werden uns in den nächsten 24 Stunden bei Dir melden.</p>
                    <img class="pre-fade-in" id="contact-image" src="/images/arrow-white.png" alt="Arrow to the right" loading="lazy">
                </div>
            <div class="form-container pre-fade-in" id="form-container">
                <Form />
            </div>
        </div>
    </div>
</section>

<style>
    section {
        background: var(--primary-color);
        padding: 80px 0;
        overflow: hidden;
    }

    .contact-container {
        display: flex;
        justify-content: space-between;
        gap: 64px;
    }

    .info-container {
        position: relative;
        width: 50%;
        height: auto;
    }

    h2 {
        font-size: 40px;
        color: var(--text-white);
        padding-bottom: 32px;
    }

    p {
        font-size: 18px;
        color: var(--text-whitesmoke);
    }

    img {
        position: absolute;
        bottom: -40px;
        right: 20px;
        width: 300px;
    }

    .form-container {
        width: 50%;
    }

    .pre-fade-in {
        transition: all 1s .5s ease-in-out;
        opacity: 0;
        transform: translateY(-100px);
    }

    .fade-in {
       opacity: 1;
       transform: translateY(0);
    }
</style>

<script>
    const options = {
        root: null,
        rootMargin: '0px',
        threshold: 0.1
    }

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add('fade-in');
            } 
        })
    }, options);

    const contactHeading = document.getElementById('contact-heading');
    const contactParagraph = document.getElementById('contact-paragraph');
    const contactImage = document.getElementById('contact-image');
    const form = document.getElementById('form-container');

    const contactElements = [contactHeading, contactParagraph, contactImage, form];

    contactElements.forEach(element => {
        if (element) {
            observer.observe(element);
        }
    })
</script>